* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.body {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    margin: -10px;
}

.header {
    margin-top: 10px;
    display: flex;
    flex: auto;
    justify-content: space-evenly;
}

.content {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-evenly;
}

.reflections {
    display: flex;
    flex-direction: column;
}

.thoughts {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
}

.imageGroup {
    display: flex;
    margin: auto;
    gap: 10px;
}

.pet {
    display: flex;
    flex-direction: column;
}

.testimony {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: beige;
}
.message {
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    margin-bottom: -100px;
    font-size: 40px;
    color: grey;
}
.owner {
    display: flex;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 20px;
    margin: auto;
}
button {
justify-content: flex-start;
padding: 15px 20px;
background-color: burlywood;
color: black;
}

p {
    color: grey;
}