* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.body {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    flex-shrink: 0 0 100%;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: gray;
}

.header {
    display: flex;
    padding: 44px;
    flex: auto;
    align-items: center;
    justify-content: space-between;
}

.content {
    display: flex;
    flex: auto;
    padding: 4px;
    font-size: 16px;
    flex-direction: row;
    justify-content: space-evenly;
}

.reflections {
    display: flex;
    flex-direction: column;
}

.thoughts {
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
    color: darkslategray
}

.imageGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap: 10px;
}
.pet {
    display: flex;
    flex-direction: column;
}

.testimony {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
}
.message {
    display: flex;
    flex-wrap: wrap;
    padding: 80px;
    font-size: 40px;
    max-width: 50ch;
    color: grey;
}
.owner {
    display: flex;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 20px;
    margin-left: 70%;
    color: darkslategray
}

.petframe {
    border: 2px solid burlywood;
}

.text {
    font-size: 24px;
    color: gray;
}

.call_to_action {
    display: flex;
    background-color: burlywood;
    padding: 25px;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-evenly;
    gap: -20px
}

.action_content {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-weight: bold;
    font-size: 20px;
}

.action-header{
    font-size: 48px;
}
.action_button {
    padding: 24px 8px;
    justify-content: center;
    margin: auto;
    border: 2px solid darkslategray;
    color: darkslategray;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: bisque;
    padding: 24px;
    font-size: 24px;
}

button {
justify-content: flex-start;
padding: 15px 20px;
background-color: burlywood;
color: black;
font-size: 16px;
}

p {
    color: grey;
}

body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0%;
}

ul {
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: gray;
    font-size: 20px;
}

h1 {
    color: darkslategray;
}